<div class="py-6 sm:py-8 dark:bg-gray-900">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <p class="mx-auto mt-2 max-w-lg text-center text-3xl font-semibold tracking-tight text-gray-950 dark:text-white sm:text-4xl">
      🚗
      Car
      Specs
      API
    </p>
    <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:mt-16">
      <button
        *ngFor="let item of cartItems"
        type="button"
        (click)="openModels(item)"
        class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
      >
        <svg aria-hidden="true" class="w-4 h-4 me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path>
        </svg>
        {{ item.name }}
      </button>
    </div>
  </div>
</div>

<!-- Modal flotante -->
<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg p-6 max-w-md w-full shadow-lg relative">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold">
        Modelos
        de {{ selectedCar?.id }}</h3>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-900 text-2xl font-bold absolute top-2 right-4">
        &times;
      </button>
    </div>
    <ul>
      <li *ngFor="let model of carModels" class="py-1 border-b last:border-b-0">{{ model }}</li>
    </ul>
  </div>
</div>
